---
import { Send } from "lucide-astro";
import { Button } from "./ui/button";
import { Image } from "astro:assets";
import HoneyHero from "@/assets/new-honey-hero.png";
import AquaCard from "@/assets/aquarius-card.svg";
import GeminiCard from "@/assets/gemini-card.svg";
import CancerCard from "@/assets/cancer-card.svg";
import ScorpioCard from "@/assets/scorpio-card.svg";
---

<div
  class="relative z-40 pt-5 sm:pt-20 min-h-[cal(100vh-30rem)] 2xl:min-h-[calc(100vh-10rem)]"
>
  <Image
    width={350}
    widths={[200, 250, 450]}
    src={AquaCard}
    alt={"aqua card"}
    class={"w-[200px] lg:w-[350px] absolute -left-[10%] -rotate-12 top-[10%] md:left-[10%] md:top-[10%] lg:left-[10%] xl:left-[15%] 2xl:left-[28%] lg:top-[5%] md:rotate-12"}
  />
  <Image
    width={450}
    widths={[250, 450]}
    src={GeminiCard}
    alt={"Gemini card"}
    class={"w-[250px] lg:w-[450px] absolute top-[43%] -left-[12%] md:left-5 lg:left-[10%] xl:left-[17%] 2xl:left-[28%] md:top-[30%] -rotate-12"}
  />
  <Image
    width={350}
    widths={[200, 250, 450]}
    src={CancerCard}
    alt={"Cancer card"}
    class={"w-[200px] lg:w-[350px] right-[12%] top-[2%] absolute lg:right-[15%] xl:right-[20%] 2xl:right-[30%] sm:top-[8%] "}
  />
  <Image
    width={450}
    widths={[200, 450]}
    src={ScorpioCard}
    alt={"Scorpio card"}
    class={"w-[200px] lg:w-[450px] absolute right-5 top-[43%] md:right-[10%] xl:top-[35%] xl:right-[18%] 2xl:right-[28%] 2xl:top-[34%] md:top-[30%] rotate-12"}
  />
  <div
    class="hidden md:block absolute -top-40 -z-0 transform-gpu overflow-hidden blur-3xl sm:-top-80 md:-left-60 2xl:left-56"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-secondary via-accent to-purple-800 opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
  <div class="mx-auto max-w-2xl">
    <div class="flex justify-center">
      <Image width={400} src={HoneyHero} alt={"honey-hero-logo"} />
    </div>
    <div class="text-center">
      <h1
        class="py-2 text-4xl font-bold tracking-tight text-transparent bg-gradient-to-br from-secondary via-primary to-accent bg-clip-text sm:text-5xl backdrop-blur-sm"
      >
        Discover Your Cosmic Journey
      </h1>
      <p class="mt-6 text-lg leading-8 text-zinc-800 backdrop-blur-sm">
        Nina Ann Rivenson is an intuitive astrologer and healer at Honey Nectar
        Astrology, specializing in deep, transformative healing. She guides
        clients in uncovering the soul's nectar, helping them break free from
        past traumas and align with their true path.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#contact">
          <Button
            className="hero-join-button group w-56 h-12 relative overflow-hidden p-[1.5px] font-bold transition-all duration-300 hover:bg-transparent hover:shadow-[0_0_2rem_-0.5rem_#F9BE33] dark:hidden md:mr-0"
          >
            <span
              class="text-lg inline-flex h-full w-full justify-center items-center gap-3 rounded-md backdrop-blur-2xl px-4 py-2 text-foreground transition-all duration-300"
            >
              <Send className="size-8" />
              <p>Contact</p>
            </span>
          </Button>
        </a>
      </div>
    </div>
  </div>
  <div
    class="hidden md:block absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-purple-800 via-accent to-secondary opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
</div>
