---
import { Image } from "astro:assets";
import Morgana from "@/assets/morgana.jpeg";
import Emma from "@/assets/emma.jpeg";
import Brittany from "@/assets/brittney.jpeg";
import AquaCard from "@/assets/aquarius-card.svg";
---

<section id="testimonials" class="relative my-10 text-gray-600 body-font">
  <div class="relative container px-5 py-5 sm:py-24 mx-auto">
    <div class="lg:w-1/2 w-full mb-6 lg:mb-20">
      <h1 class="sm:text-5xl text-2xl font-bold title-font mb-2 text-gray-900">
        Testimonials
      </h1>
      <div class="h-1 w-20 bg-primary rounded"></div>
    </div>
    <Image
      width={450}
      src={AquaCard}
      alt={"Aquarius card"}
      class="hidden sm:block absolute top-[0%] rotate-0 right-[0%] md:right-[12%] md:-top-[3%] lg:right-[0%] lg:-top-[5%] md:rotate-12 z-50"
    />
    <div class="grid grid-cols-2 -m-4 gap-3">
      {
        [
          {
            name: "Morgana",
            review: `
            Let me start by saying I was not sure what to expect. I have had
            readings before, but never my chart read. What an awesome and
            intense experience. Nina is extremely gifted and sensitive when
            delivering what she sees . She called out very specific things I’ve
            experienced and was able to provide explanations as to why they
            happened. I’m still trying to soak in the time I spent with her. She
            is a sweet and skilled reader. I will be going back to her and
            sharing her info with my friends and clients. She’s legit.`,
            work: "Licensed Esthetician",
            src: Morgana,
            alt: "Morgana image",
            width: 80,
          },
          {
            name: "Emma",
            review: `
            Nina helped me understand bits and pieces of information about
            myself that I have been confused about for a long time. It’s crazy
            to think that reading into charts and learning about the stars the
            night we were born can answer so many questions we have within
            ourselves, but it’s true. It felt like a psychic gift to dissect a
            chart and be able to hit different events/challenges in my life that
            I have been dealing with. Overall, I felt pretty lucky and more
            excited for the path that I am on. That’s just my chart though, not
            to brag :) You will have to book a session with her to find out your
            path & answer questions about your past.`,
            work: "Marketing specialist",
            src: Emma,
            alt: "Emma image",
            width: 80,
          },
          {
            name: "Brittany",
            review: `
            Sitting with Nina is like the best therapy session you’ve ever had,
            where you uncover important insights about yourself and your place
            in the world. I had such an incredible experience that I asked her
            to read the birth charts for each of my kids and my husband and
            compare all of them together. It was mind blowing, I have never felt
            more seen and came away from the experience with a profound new
            perspective on how to be a better parent for my children and
            partner. I was always interested in astrology before but never
            really understood it and had no idea how deep it can go. Nina did a
            great job explaining every aspect of our charts and relating it who
            we are. I highly recommend doing an astrology reading with her!`,
            work: "SalesForce Cloud Architect",
            src: Brittany,
            alt: "Brittany image",
            width: 80,
          },
          {
            name: "Amy",
            review: `Nina weaves her healing gifts along with her psychological and spiritual wisdom and understanding of archetypes into all her astrology readings.  Book a reading with Nina if you want  explore your inner world and heal whatever is holding you back from finding more love, happiness and creative self expression in your life.  Nina is compassionate, integral and very intuitive and insightful. She'll help you feel more empowered to move forward in life in the way you want!`,
            work: "Spiritual Advisor",
            src: Brittany,
            alt: "Amy image",
            width: 80,
          },
        ].map((testimonial) => (
          <div class="col-span-2 md:col-span-1 h-full p-8 rounded-md shadow-md backdrop-blur-sm">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="block w-5 h-5 text-gray-400 mb-4"
              viewBox="0 0 975.036 975.036"
            >
              <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z" />
            </svg>
            <p class="leading-relaxed mb-6 md:min-h-[13rem]">
              {testimonial.review}
            </p>

            <span
              class={`inline-flex items-center ${testimonial.name === "Amy" && "pt-12"}`}
            >
              {testimonial.name !== "Amy" ? (
                <Image
                  width={testimonial.width}
                  widths={[80, 100, 150]}
                  src={testimonial.src}
                  alt={testimonial.alt}
                  class={`rounded-xl`}
                />
              ) : (
                <p class="text-4xl ">🌹</p>
              )}
              <span class={`flex-grow flex flex-col pl-4`}>
                <span class="title-font font-medium text-gray-700">
                  {testimonial.name}
                </span>
                <span class="text-gray-400 text-sm">{testimonial.work}</span>
              </span>
            </span>
          </div>
        ))
      }
    </div>
  </div>
</section>
